<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<!-- Include Flatpickr stylesheet and JavaScript -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<body>
<h1>Adding employees to project</h1>
<form method="post" th:action="@{/projects/workupdate/{projectId}(projectId=${projectId})}">
  <div class="form-group">
    <input type="text" name="description" placeholder="Description">
    <input type="text" class="form-control" name="timeRange" id="time-range">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</body>

<script th:inline="javascript">
  var minTimeUpdate = /*[[${minTimeUpdate}]]*/ "";
  var timeStartArr = minTimeUpdate.split("-"); // Tách chuỗi thành mảng ["01", "06", "2023"]
  var timeStart = new Date(timeStartArr[2], timeStartArr[1] - 1, timeStartArr[0]); // Đảo ngược định dạng ngày và tạo đối tượng Date
  console.log({time: minTimeUpdate});
  flatpickr("#time-range", {
    enableTime: false,
    time_24hr: false,
    dateFormat: "d-m-Y",
    mode: "range",
    minDate: timeStart,
    maxDate: timeStart.fp_incr(30), // 30 days from now
  });
</script>
</html>